

.form-cont > form{
    box-shadow: black;
}



.form-cont {

  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}





.form {
 
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: left;
  
}



.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form input[type="text"]{
    width: 85%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    border: 1px solid #2c2f36;
     padding: 5px;
}


.form > select{
    width: 90%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    border: 1px solid #2c2f36;
    padding: 0px;
}

.form > .submit-btn{
    background-color: #2c2f36;
    width: 90%;
    height: 40px;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: 0.1rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}


.user-modal{
    width: 100vw;
    
    
}

.add-resident-btn{
    
    width: 100vw;
    display: flex;
    justify-content: center;
    
}


.add-resident-btn button{
    width: 140px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    margin-top: 20px;

    font-family: 'Inter', sans-serif;
    font-weight: bold;
  
    
}



@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.form-cont {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  animation: zoomIn 0.3s ease-out;
}




.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
 
}


.form-overlay {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background-color: rgba(171, 171, 171, 0.3); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}


.add-resident-btn{
    position: fixed;
    z-index: 10000;
    
}